// File: _base.scss

// variables and base values

/*Fjerner underline og endrer fargen på linker som er overskrifter*/
h6, h5, h4, h3, h2, h1 {
    a {
        text-decoration: none;
	    color: $black;
    }
}

/*Får footeren til å ikke legge seg midt på siden når sideinnholdet er kort*/
body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 113px;
	background: black;
    padding: 0;
}