// File: _base.scss

// Containing resets, variables, mixins etc.

$broen-base-blue:               #487c81;
$broen-base-hover:              lighten($broen-base-blue, 10);
$background-white:              #f0f0f0;
$container-white:				lighten($background-white, 20);
$text-color-black:              #252626;

/*Fjerner underline og endrer fargen på linker som er overskrifter*/
h6, h5, h4, h3, h2, h1 {
    a {
        text-decoration: none;
	    color: $text-color-black;
    }
}

/*Får footeren til å ikke legge seg midt på siden når sideinnholdet er kort*/
body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 113px;
}