// File: _base.scss

// Containing resets, variables, mixins etc.

$broen-base-blue:               #006387; // previusly #487c81 and #36a7f7
$broen-blue-dark:               #00425a;
$broen-base-hover:              lighten($broen-base-blue, 10);
$background-white:              #f9f9f9;
$background-grey:				#e0e0e0;
$broen-base-white:				#f0f0f0;
$container-white:				lighten($background-white, 20);
$box-grey:						#d1d1d1;
$box-gray:						#d1d1d1;
$text-color-black:              #252626;
$placeholder-color:				#a8329e;

// situational
$broen-uncategorized:			$box-grey;
$broen-leserinnlegg:			#2bb169;
$broen-nyheter:					#18b1cf;
$broen-meninger:				#f08b08;
$broen-kultur:					#8fb91a;
$broen-spisekammeret:			#ad3d14;


// other
$content-size:      1000px;
$border-base:       .25em;

// breakpoints - using max-width
$bp-laptop:     1200px; // laptops or tablets in landscape
$bp-tablet:     1000px;  // tablets or phones in landscape
$bp-phones:     600px; // smaller phones

// 600px, 900px, 1200px, and 1800px

/*Fjerner underline og endrer fargen på linker som er overskrifter*/
h6, h5, h4, h3, h2, h1 {
    a {
        text-decoration: none;
	    color: $text-color-black;
    }
}

/*Får footeren til å ikke legge seg midt på siden når sideinnholdet er kort*/
body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 113px;
	background: black;
}