// File: _components.scss

// Anything reusable (buttons, navbars, etc.)

// @todo: clean this file

#site-title { display: none; }

// for tips-oss animasjonen
.mail-animation { animation: mailshift .5s ease-in-out forwards; }

// buttons
button:not(.toggle),
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
	background: $blue-base;
	transition: .2s;

	&:hover {
		background: lighten($blue-base, 10);
		text-decoration: none;
		border-radius: 2em;
	}
}

.button-border-white {
    display: inline-block;
    border: 0.2em solid $white;
    border-radius: $border-base;
    color: $white;
    padding: 1em;
    width: auto;
    text-align: center;
    transition: .2s;
    @include letters-spaced();

    &:hover {
        background-color: $white;
        color: $black;
    }
}

.button-round-blue {
    display: inline-block;
    background-color: $blue-light;
    border-radius: 1em;
    color: $blue-dark;
    padding: 1em;
    width: auto;
    text-align: center;
    transition: .2s;
    @include letters-spaced();
    font-weight: bold;

    &:hover {
        background-color: $white;
    }
}

// noe annet
main#main {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	font-size: 1.9rem;

	h1 { font-size: 5rem; }
    h2 { font-size: 3.7rem }

    
}

/* titlebox */
.titlebox {
	border-left: 6px solid $blue-base;
	padding: 10px;
	background-color: #dedede;
}


div.textwidget {
	p {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 1.9rem;
	}
}

.btn {
    &.btn-loadmore {
        max-width: 16em;
        margin: auto;
        padding: 1em;
        background: $white;
        border: solid $blue-base;
        border-radius: 1em;
        border-width: thin;
        text-align: center;
        color: $blue-base;

        &:hover {
            background: $blue-base;
            color: $white;
            cursor: pointer;
        }
    }
}

// body

body#site-body { background-color: $grey-light; }


// header styles

div.header-swift {
    background: linear-gradient(to left, $blue-base, $blue-base) no-repeat left;
    background-size: 8px 100%;
    margin-bottom: 2em;
    padding: 0.25em 1em;
    white-space: nowrap; 
    text-overflow: ellipsis;

    @include for-screen-max($bp-phones) {
        background: $blue-base;
    }

    h2 {
        color: $blue-base;
        margin: 0;
        font-size: 32px;
        letter-spacing: 0.5px;
        
        @include for-screen-max($bp-phones) {
            color: $white;
        }
    }
}

div.header-category {
    padding: 2em 1em;
    white-space: nowrap; 
    text-overflow: ellipsis;

    h2 {
        color: $blue-base;
        margin: 0;
        font-size: 32px;
        letter-spacing: 0.5px;
        display: flex;

        @include for-screen-max($bp-phones) {
            flex-direction: column;
        }

        > div {
            padding: 0 .25em;
            border-radius: $border-base;
            color: white;
        }
    }
}

// categories

// gamle
div.post-category-1 { background: $category-grey; } // uncategorized
div.post-category-41 { background: $category-grey; } // leserinnlegg
div.post-category-46 { background: $category-grey; } // meninger
div.post-category-44 { background: $category-grey; } // nyheter
div.post-category-42 { background: $category-grey; } // kultur
div.post-category-45 { background: $category-grey; } // spisekammeret

// nye
div.post-category-61 { background: $category-blue; }
div.post-category-66 { background: $category-orange; }
div.post-category-10 { background: $category-green; }
div.post-category-18 { background: $category-yellow; }
div.post-category-9 { background: $category-brown; }
div.post-category-18 { background: $category-grey; }
div.post-category-27 { background: $category-lightgreen; }


// box styles
div.style-info-box {
    position: relative;
    background-color: $grey;
    width:100%;
    padding: $std-medium;
    @include for-screen-max($bp-phones) {
        padding: $std-small;
    }

    > * { color: $white; }
    p > a {
        color: $blue-light;
        text-decoration: underline;
    }
    > h1, h2, h3, h4, h5, h6 { @include letters-spaced(); }
    h1, h2, h3, h4, h5, h6, p, a { position: relative; }
    
    @include remove-outer-text-margin();

    &::before { // the exclamation mark
        content: '';
        background-image: url("images/icons/icons_exclamation_mark.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 75%;
        opacity: 0.1;
    }
}