// File: _components.scss

// Anything reusable (buttons, navbars, etc.)

/*knapper*/
button:not(.toggle),
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
	background: $broen-base-blue;
	transition: .2s;

	&:hover {
		background: $broen-base-hover;
		text-decoration: none;
		border-radius: 2em;
	}
}

main#main {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	text-align:center;
	font-size: 1.9rem;

	h1 { font-size: 5rem; }
	h2 { font-size: 3.7rem }
}

/*Gjør den stygge "om oss" teksten i bunnen usynlig på en hackete måte*/
div#sidebar {
	display: none;
}

#site-footer {
	width: 100%;
  position: absolute;
  bottom: 0px;
}

/*Setter bakgrunnsfarger på overskrifter i kalender etter hvilken arrangementstype*/
#sos h2 {
	background-color: #38893d;
}

#fsp h2 {
background-color: #822e2e;
}

#for h2 {
background-color: #c97f3a;
}

#sih h2 {
background-color: #2e4782;
}

#andre h2 {
background-color: #5539b2;
}

/* titlebox */
.titlebox {
	border-left: 6px solid $broen-base-blue;
	padding: 10px;
	background-color: #dedede;
}


div.textwidget {
	p {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 1.9rem;
	}
}
