// File: _components.scss

// Anything reusable (buttons, navbars, etc.)

/*knapper*/
button:not(.toggle),
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
	background: $broen-base-blue;
	transition: .2s;

	&:hover {
		background: $broen-base-hover;
		text-decoration: none;
		border-radius: 2em;
	}
}

main#main {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	text-align:center;
	font-size: 1.9rem;

	h1 { font-size: 5rem; }
	h2 { font-size: 3.7rem }
}

/*Gjør den stygge "om oss" teksten i bunnen usynlig på en hackete måte*/
div#sidebar {
	display: none;
}

#site-footer {
	width: 100%;
  position: absolute;
  bottom: 0px;
}

/*Setter bakgrunnsfarger på overskrifter i kalender etter hvilken arrangementstype*/
#sos h2 {
	background-color: #38893d;
}

#fsp h2 {
background-color: #822e2e;
}

#for h2 {
background-color: #c97f3a;
}

#sih h2 {
background-color: #2e4782;
}

#andre h2 {
background-color: #5539b2;
}

/* titlebox */
.titlebox {
	border-left: 6px solid $broen-base-blue;
	padding: 10px;
	background-color: #dedede;
}


div.textwidget {
	p {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 1.9rem;
	}
}

.btn {
    &.btn-loadmore {
        max-width: 16em;
        margin: auto;
        padding: 1em;
        background: $background-white;
        border: solid $broen-base-blue;
        border-radius: 1em;
        border-width: thin;
        text-align: center;
        color: $broen-base-blue;

        &:hover {
            background: $broen-base-blue;
            color: $background-white;
            cursor: pointer;
        }
    }
}

// header

header#site-header {
    box-sizing: border-box;
    width: 100%; height: auto;
    background-color: $broen-base-blue;
    position: absolute; // this, fixed or sticky or else breaks

    div.header-content {
        height: 4em;
        width: $content-size;
        margin: auto;

        div.site-logo {
            position: absolute;
            width: 250px;
            height: 250px;
            display: grid;
            place-items: center;
            transform: translateY(-4em);
            background-image: url("images/wavy_circle.svg");
            background-size: cover;

            img.custom-logo {
                position: relative;
            }
        }
    
        nav.primary-menu-wrapper {
            padding-top: 1.5em;
            width: auto;
            float: right;
            justify-content: space-around;
            text-align: right;
        
            ul#menu-primary {
                margin: 0;
        
                li.menu-item {
                    display: inline-block;
                    height: 2em;
        
                    > a { // styling and underline animation
                        color: $background-white;
                        text-decoration: none;
                        font-size: 1.8rem;
                        background: linear-gradient(to bottom, white, white) no-repeat bottom;
                        background-size: 0% 2px;
                        height: 4em;
                        transition: background .1s;
                        @include text-emphasize();
    
                        &:hover {
                            background-size: 100% 2px;
                        }
                    }
                }
            }
        }
    }
}


.section-middle {
	box-sizing: border-box;
	width: $content-size;
	background-color: $background-white;
	margin:0 auto;
    padding: 8em 0em;

    > .flex-row {
        > div { // space between threads
            margin: 1em;
        }
    }

	h1, h2, h3, h4, p, a { color: $broen-base-blue }
	a {
		text-decoration: none;
	}
}

.flex-row {
    box-sizing: border-box;
    display: flex;
	flex-direction: row;
}


#site-content {
	background: $background-grey;
}

.frontpage-main-boxes, .frontpage-minor-boxes {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 2em;

	h1, h2, h3, h4, h5, h6, p {
        margin: 0; padding: 0;
        &::first-letter { text-transform: uppercase; }
	}
	img {
		width: 100%;
		height: 400px;
		object-fit: cover;
	}
	.category-boxes {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: .5em;
		border-radius: .25em .25em 0 0;
		overflow: hidden;

		> div {
			box-sizing: border-box;
			padding: 0 .5em;
			width: 100%;
			height: 100%;
			font-size: 2rem;
			background: $placeholder-color;
			color: $broen-base-white;
		}

		.post-category-1 { background: $broen-uncategorized; } // uncategorized
		.post-category-41 { background: $broen-leserinnlegg; } // leserinnlegg
		.post-category-46 { background: $broen-meninger; } // meninger
		.post-category-44 { background: $broen-nyheter; } // nyheter
		.post-category-42 { background: $broen-kultur; } // kultur
		.post-category-45 { background: $broen-spisekammeret; } // spisekammeret
	}
}

.frontpage-minor-boxes {
	h1, h2, h3, h4, h5, h6 {
		font-size: 3rem;
	}

	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
}

.frontpage-main-thread { width: calc(200% / 3); }
.frontpage-minor-thread { width: calc(100% / 3); }


// footer

footer#site-footer.header-footer-group {
    background: $broen-base-blue;
    position: relative;
    padding: 0;

    .footer-content {
        padding: 4em 8em;
        display: flex;
        @media only screen and (max-width: $content-size) { flex-direction: column; }

        > * {
            min-width: 300px;
            width: 100%;
            box-sizing: border-box;

            h1, h2, h3, h4, h5, h6 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include text-emphasize;
                margin: .5em 0;
            }
            p {
                margin-right: 2em;
                opacity: .8;
            }
        }
    }

    div.footer-copyright {
        padding: 2em 8em;
        display: flex;
        background: $broen-blue-dark;
        justify-content: space-between;
        
        @media only screen and (max-width: $content-size) {
            flex-direction: column;
            div.footer-credits { display: flex; justify-content: center;}
            * { text-align: center; }
        }

        p, a {
            @include text-emphasize;
        }
    }
}