// File: _components.scss

// Anything reusable (buttons, navbars, etc.)

/*knapper*/
button:not(.toggle),
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
	background: $broen-base-blue;
	transition: .2s;

	&:hover {
		background: $broen-base-hover;
		text-decoration: none;
		border-radius: 2em;
	}
}

main#main {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	text-align:center;
	font-size: 1.9rem;

	h1 { font-size: 5rem; }
	h2 { font-size: 3.7rem }
}

/*Gjør den stygge "om oss" teksten i bunnen usynlig på en hackete måte*/
div#sidebar {
	display: none;
}

#site-footer {
	width: 100%;
  position: absolute;
  bottom: 0px;
}

/*Setter bakgrunnsfarger på overskrifter i kalender etter hvilken arrangementstype*/
#sos h2 {
	background-color: #38893d;
}

#fsp h2 {
background-color: #822e2e;
}

#for h2 {
background-color: #c97f3a;
}

#sih h2 {
background-color: #2e4782;
}

#andre h2 {
background-color: #5539b2;
}

/* titlebox */
.titlebox {
	border-left: 6px solid $broen-base-blue;
	padding: 10px;
	background-color: #dedede;
}


div.textwidget {
	p {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 1.9rem;
	}
}

.btn {
    &.btn-loadmore {
        max-width: 16em;
        margin: auto;
        padding: 1em;
        background: $background-white;
        border: solid $broen-base-blue;
        border-radius: 1em;
        border-width: thin;
        text-align: center;
        color: $broen-base-blue;

        &:hover {
            background: $broen-base-blue;
            color: $background-white;
            cursor: pointer;
        }
    }
}

// header

#site-header {
    box-sizing: border-box;

    .site-header-top {
        // adds transparent color ontop of background image, faking with a linear gradient
        // stolen from https://css-tricks.com/tinted-images-multiple-backgrounds/
        background: linear-gradient(
            rgba($broen-base-blue, 0.45), 
            rgba($broen-base-blue, 0.45)
        ),
        url("images/header_placeholder.jpg");
        background-position-y: 40%;
        height: 12em;
        display: flex;

        .site-logo-wrapper {
            background-image: url("images/collage.png");
            background-repeat: no-repeat;
            height: 100%; width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
    
            img {
                margin-left: 4em;
                height: 16rem;
                width: 16rem;
            }
        }

        .site-tagline-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            p {
                font-size: 6rem;
                margin: 0;
                @include text-stroke(8, $broen-base-blue);
            }
        }
    }
    

    .site-header-bottom {
        display: flex;
        position: absolute;
        width: 100%;
        background: $broen-base-blue;
        padding: .5em 4em;

        .site-title-wrapper {
            width: 100%;
            h1 {
                font-size: 2rem;
                margin: 0;
                letter-spacing: .25em;
                text-transform: uppercase;

                a { // remove text effects, could add 'cursor: auto' too
                    text-decoration: inherit;
                    color: inherit;
                }
            }
        }

        .navigation-wrapper {
            width: 100%;
        
            .primary-menu-wrapper {
                height: 2em;

                #menu-primary {
                    display: flex;
                    margin: 0;
                    li {

                    }
                    -
                }
            }
        }
    }
}