// File: _layout.scss

// This contains everything layout related, such as containers, grids etc.


/*Gjør sidetittel og header usynlig på en hackete måte*/
.entry-title {
	display: none !important;
}
.entry-header {
	display: none !important;
}

.post div.post-inner p, li {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.7rem;
}
div.post-inner div {
	margin: 0px auto;
	max-width: 1000px;
	
}
div.post-inner p {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
div.class-content {
	margin: 0px auto;
	

}

.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide){
	max-width: 1000px;
}

.color-accent, .color-accent-hover:hover, .color-accent-hover:focus, :root .has-accent-color, .has-drop-cap:not(:focus)::first-letter, .wp-block-button.is-style-outline, a {
	color: #347e84;
}

.section-middle {
	box-sizing: border-box;
	width: 1000px;
	background-color: $background-white;
	margin:0 auto;
    padding: 8em 0em;

    > .flex-row {
        > div { // space between threads
            margin: 1em;
        }
    }

	h1, h2, h3, h4, p, a { color: $broen-base-blue }
	a {
		text-decoration: none;
	}
}

.flex-row {
    box-sizing: border-box;
    display: flex;
	flex-direction: row;
}


#site-content {
	background: $background-grey;
}

// footer

#site-footer {
	background: $broen-base-blue;
}

.footer-nav-widgets-wrapper {
	margin: 0;
	background: $broen-base-blue;
}

.header-footer-group {
	margin: 0;
	background: $broen-base-blue;
}


.frontpage-main-boxes, .frontpage-minor-boxes {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 2em;

	h1, h2, h3, h4, h5, h6, p {
		margin: 0; padding: 0;
	}
	img {
		width: 100%;
		height: 400px;
		object-fit: cover;
	}
	.category-boxes {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: .5em;
		border-radius: .25em .25em 0 0;
		overflow: hidden;

		> div {
			box-sizing: border-box;
			padding: 0 .5em;
			width: 100%;
			height: 100%;
			font-size: 2rem;
			background: $placeholder-color;
			color: $broen-base-white;
		}

		// uncategorized
		.post-category-1 { background: $broen-uncategorized; }
		// leserinnlegg
		.post-category-41 { background: $broen-leserinnlegg; }
		// meninger												
		.post-category-46 { background: $broen-meninger; }
		// nyheter
		.post-category-44 { background: $broen-nyheter; }
		// kultur
		.post-category-42 { background: $broen-kultur; }
		// spisekammeret											
		.post-category-45 { background: $broen-spisekammeret; }
	}
}

.frontpage-minor-boxes {
	h1, h2, h3, h4, h5, h6 {
		font-size: 3rem;
	}

	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
}

.frontpage-main-thread {
	width: calc(200% / 3);
}

.frontpage-minor-thread {
	width: calc(100% / 3);
}


/*Gjelder kun for mobile enheter (600 px og under)*/
@media only screen and (max-width: 600px) {

	.footer-top-visible .footer-nav-widgets-wrapper,
	.footer-top-hidden #site-footer {
		margin: 0;
	}
	
	.arrangementskort {
		h2 { /*Bestemmer bredde på kalender på mobile enheter*/
			color: white;
			width: 100%;
			margin-top: 10px;
			font-size: 22px !important;
		}
		p, a { /*endrer fontstørrelse på kalender på mobile enheter*/
			font-size: 17px;
		}
	}

	
	h1 { /*endrer størrelse på overskrifter på mobile enheter*/
		font-size: 35px !important;
	}
}

/*Gjelder kun for enheter over 600 px*/
@media only screen and (min-width: 601px) {

	.footer-top-visible .footer-nav-widgets-wrapper,
	.footer-top-hidden #site-footer {
		margin: 0;
	}

	.arrangementskort h2 {
		color: white;
		max-width: 55%;
		margin-top: 10px;
	}
	
	form, div #arrangementsinfo {
		margin-left: 20%;
		margin-right: 20%;
	}
}



