// File: _layout.scss

// This contains everything layout related, such as containers, grids etc.

body {
    padding: 0;
}

/*Gjelder kun for mobile enheter (600 px og under)*/
@media only screen and (max-width: 600px) {

	.footer-top-visible .footer-nav-widgets-wrapper,
	.footer-top-hidden #site-footer {
		margin: 0;
	}
	
	.arrangementskort {
		h2 { /*Bestemmer bredde på kalender på mobile enheter*/
			color: white;
			width: 100%;
			margin-top: 10px;
			font-size: 22px !important;
		}
		p, a { /*endrer fontstørrelse på kalender på mobile enheter*/
			font-size: 17px;
		}
	}

	
	h1 { /*endrer størrelse på overskrifter på mobile enheter*/
		font-size: 35px !important;
	}
}

/*Gjelder kun for enheter over 600 px*/
@media only screen and (min-width: 601px) {

	.footer-top-visible .footer-nav-widgets-wrapper,
	.footer-top-hidden #site-footer {
		margin: 0;
	}

	.arrangementskort h2 {
		color: white;
		max-width: 55%;
		margin-top: 10px;
	}
	
	form, div #arrangementsinfo {
		margin-left: 20%;
		margin-right: 20%;
	}
}



