// File: _footer.scss

// footer

footer#site-footer.header-footer-group {
    overflow: hidden;
    background: $blue-dark;
    position: relative;
    padding: 0;

    @include for-screen-min($bp-tablet) {
        // broen grafikk kun for størrelser over tablets
        &::before {
            content: '';
            background-image: url("images/graphics/graphics_svinesundbro.svg");
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-position: bottom;
            opacity: .05;
        }
    }
    

    div.footer-showcase {
        $showcase-height:   600px;
        $showcase-width:    1500px;

        position: relative;
        background-color: $blue-dark;
        height: $showcase-height;
        overflow: hidden;

        &::before { // gradient for showcase bildet
            content: '';
            width: $showcase-width;
            height: $showcase-height;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            background:
                radial-gradient(
                    circle at top right,
                    transparent,
                    $blue-dark 80%
                );
            
        }

        img#footer-showcase-photo {
            object-fit: cover;
            width: $showcase-width;
            min-height: $showcase-height;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    div.footer-content {
        position: relative;
        padding: $std-medium 0;
        display: flex;
        @include for-screen-max($bp-laptop) {
            flex-direction: column;
            padding: 0 $std-small;
        }

        

        .footer-column {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            padding: $std-small;
            border-right: 2px solid $blue-base;
            &:last-child { border-right: none;}

            @include remove-outer-text-margin();
            @include for-screen-max($bp-laptop) {
                border-right: none;
                border-bottom: 2px solid $blue-base;
                &:last-child { border-bottom: none;}
            }

            h1, h2, h3, h4, h5, h6 {
                @include letters-spaced();
            }
        }
        /*
        > * {
            min-width: 300px;
            width: 100%;
            box-sizing: border-box;

            h1, h2, h3, h4, h5, h6 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include text-emphasize;
                margin: .5em 0;
            }
            p {
                margin-right: 2em;
                opacity: .8;
            }
        }
        */
    }

    div.footer-copyright {
        max-width: $content-size;
        margin: auto;
        padding: $std-medium;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        
        @include for-screen-max($bp-laptop) {
            flex-direction: column;
            div.footer-credits { display: flex; justify-content: center;}
            * { text-align: center; }
        }
        @include for-screen-max($bp-phones) { padding: 1em 0; }

        p, a {
            @include text-emphasize;
        }
    }
}