// File: _footer.scss

// footer

footer#site-footer.header-footer-group {
    overflow: hidden;
    background: $blue-dark;
    position: relative;
    padding: 0;

    div.footer-content {
        padding: $std-medium 0;
        display: flex;
        @include for-screen-max($bp-laptop) {
            flex-direction: column;
            padding: 0 $std-small;
        }

        .footer-column {
            width: 100%;
            box-sizing: border-box;
            padding: $std-small;
            border-right: 2px solid $blue-base;
            &:last-child { border-right: none;}

            @include remove-outer-text-margin();
            @include for-screen-max($bp-laptop) {
                border-right: none;
                border-bottom: 2px solid $blue-base;
                &:last-child { border-bottom: none;}
            }

            h1, h2, h3, h4, h5, h6 {
                @include letters-spaced();
            }
        }
        /*
        > * {
            min-width: 300px;
            width: 100%;
            box-sizing: border-box;

            h1, h2, h3, h4, h5, h6 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include text-emphasize;
                margin: .5em 0;
            }
            p {
                margin-right: 2em;
                opacity: .8;
            }
        }
        */
    }

    div.footer-copyright {
        max-width: $content-size;
        margin: auto;
        padding: $std-small;
        border-top: 2px solid $blue-base;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        
        @include for-screen-max($bp-laptop) {
            flex-direction: column;
            div.footer-credits { display: flex; justify-content: center;}
            * { text-align: center; }
        }
        @include for-screen-max($bp-phones) { padding: 1em 0; }

        p, a {
            @include text-emphasize;
        }
    }
}