// File: _header.scss

// header

$std-medium: 75px;
$indent: 24px; // used for both site logo and nav button

header#site-header {
    background-color: transparent;
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: $std-medium;

    div.header-content {
        width: $content-size; height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 250px;
        grid-template-rows: $std-medium $std-medium;
        grid-template-areas:
            "h_logo         h_nav       h_nav       h_nav"
            "h_logo         .           .           h_tips_oss"
        ;
        grid-row-gap: 20px;

        @include for-screen-max($bp-tablet) {
            width: 100%;
            grid-template-columns: $std-medium 150px 1fr $std-medium;
            grid-template-rows: $std-medium auto;
            grid-template-areas:
                "h_logo         h_tips_oss      .               h_nav"
                "h_nav_tab      h_nav_tab       h_nav_tab       h_nav_tab"
            ;
            grid-gap: 0;
        }

        &::before { // banner background
            content: "";
            position: absolute;
            top: 0; left: 0;
            height: $std-medium;
            width: 100%;
            z-index: -100;
            background-color: $broen-base-blue;
        }

        div.site-logo {
            position: absolute;
            width: 250px; height: 250px;
            display: grid;
            place-items: center;
            background-size: cover;
            grid-area: h_logo;
            transform: translateY(-60px);
    
            a.custom-logo-link {
                display: block;     
                position: relative;    
                z-index: 1;     
                padding: 4em;     
                margin: -2em; 

                img.custom-logo {
                    position: relative;
                }
            }

            @include for-screen-max($bp-tablet) {
                transform: translateY(0px);
                position: relative;
                width: 100%; height: 100%;

                a.custom-logo-link {
                    padding: 0; margin: 0;
                    width: $std-medium - $indent;
                    height: $std-medium - $indent;

                    img.custom-logo {
                         height: 100%; width: 100%;
                    }
                }
                #logo-graphic { display: none; }
            }

        }
    
        nav.header-nav-desktop, nav.header-nav-tablet {
            > ul {
                list-style-type: none;
                margin: 0;
            
                li.menu-item > a {
                    color: $background-white;
                    text-decoration: none;
                }
            }
        }

        // nav for desktop

        nav.header-nav-desktop {
            width: 100%;
            padding-top: 1.5em;;
            text-align: right;
            grid-area: h_nav;

            @include for-screen-max($bp-tablet) { display: none; }

            li.menu-item {
                display: inline-block;
                height: 2em;
        
                > a { // styling and underline animation
                    font-size: 1.8rem;
                    background: linear-gradient(to bottom, white, white) no-repeat bottom;
                    background-size: 0% 2px;
                    height: 4em;
                    transition: background .1s;
                    @include text-emphasize();

                    &:hover {
                        background-size: 100% 2px;
                    }
                }
            }
        }

        // nav for tablet and phones

        nav.header-nav-tablet {
            grid-area: h_nav_tab;
            background-color: $broen-blue-dark;
            top: $std-medium;
            padding: 1em;
            width: 100%;
            overflow: hidden;
            display: none;

            @include for-screen-min($bp-tablet) { display: none; }

            li.menu-item {
                margin: 0;
                padding: .5em 0;
                background: linear-gradient(to bottom, $broen-base-blue, $broen-base-blue) no-repeat bottom;
                background-size: 100% 1px;

                > a {
                    font-size: 1.8rem;
                    @include text-emphasize();
                }
            }
        }

        // waffle menu button

        button#nav-toggle-waffle {
            grid-area: h_nav;
            width: 100%;
            height: 100%;
            transition: none;

            background-image: url("images/icons/icons_menu_unclicked.svg");
            background-size: $std-medium - $indent;
            background-repeat: no-repeat;
            background-position: center;

            @include for-screen-min($bp-tablet) { display: none; }

            &.nav-clicked { background-image: url("images/icons/icons_menu_clicked.svg"); }

            &:hover, &:active, &:visited, &:focus {
                border: none;
                text-decoration: none;
            }
           
        }

        
        // tips oss

        a.header-tips-oss {
            text-decoration: none;
            border-radius: $border-base;
            width: 100%; height: 100%;
            grid-area: h_tips_oss;
            display: flex;
            overflow: hidden;

            @include for-screen-max($bp-tablet) {
                border-radius: 0;
            }

            > div {
                height: 100%;
                display: grid;
                place-items: center;
            }

            div.tips-oss-text {
                width: 100%;
                color: $background-white;
                background-color: $broen-blue-dark;
                
                p {
                    font-size: 2rem;
                    margin: 0;
                }
            }
            div.tips-oss-icon {
                width: 150px;
                background-color: $broen-base-blue;
                overflow-x: hidden;
                
                @include for-screen-max($bp-tablet) { display: none; }

                img { width: 50%; }

                @keyframes mailshift {
                    // Taken from stack overflow -> Leo
                    49% { // force it's `z-index = 0` to this point
                        transform: translateX(100px);
                        
                        z-index: 0;
                    }
                    50% { // hide it while moving from right to left
                        z-index: -1;
                    }
                    51% { // Show it again when it's already at left side
                        transform: translateX(-100px);
                        z-index: 0;
                    }
                }
            }

            &:hover { cursor: pointer; }            
        }
    }
}