// File: _page-feed.scss

// page feed

div.page-main-thread {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

    @include for-screen-max($bp-phones) {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    > a {
        /* @todo - make unique first item later
        &:first-child { // unique first item
            flex-basis: 100%;
            background-color: $broen-theme-grey;
            div.page-main-boxes {
                display: flex;
                
                > img {width: 50%;}

                h1, h2, h3, h4, h5, h6, p {
                    color: $background-white;
                }
            }
        }*/

        flex: 1 0 40%;

        div.page-main-boxes {
            margin: 1em 1em 2em 1em;
            padding: 0;
            box-sizing: border-box;
    
            overflow: hidden;
            h2 {
                color: $broen-base-blue;
                margin: 0; padding: 0;
            }
            
            img {
                width: 100%;
                border: 1px solid $background-grey;
            }
        }
    }
}