// File: _post-content.scss

// post content

section.section-post > article {
    width: 100%;
}

header.entry-header.header-footer-group {
    background-color: transparent;
    
    div.entry-header-inner {
        h1, h2, h3, h4, h5, h6, p {
            color: $broen-base-blue;
        }
        
        div.entry-categories { display: none; }
    
        ul.post-meta {
            span, span.meta-text > a { color: $broen-base-blue; }
            li.post-author { display: none; }
        }
    }
}

div.entry-content {

    p { font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif; }

    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) { // all content
        max-width: 90rem;
        width: calc(100% - 4rem);
    }

    a { color: $broen-base-blue; }

    > figure.wp-block-image {
        max-width: 35em;
    }
}


nav.pagination-single {
    a, span {
        color: $broen-base-blue;
    }
}

figure.featured-media {

    div.featured-media-inner {
        max-width: 40em;
        left: 0;
    }
}

figure.featured-media:before { display: none !important; } // @todo - remove !important